<app-header (searchProduct)="zoekProduct($event)" (WinkelwagenView)="switchWinkelwagen()" (AccountView)="switchAccount()" (NormalView)="this.view = 'product'" (laadWinkelWagen)="laadWinkelWagen()"></app-header>
<body *ngIf="view === 'product'">
  <div class="jumbotron box no-margin">
    <div class="container modal-login">
      <div class="row">
        <div class="col bg-image">
          <div class="container align-items-center">
            <app-news class="mobile"></app-news>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <hr>
    <div class="row no-margin">
      <div class="col-sm-6 col-md-4 mb" *ngFor="let product of copyProduct">
        <div class="thumbnail box-shadow">
          <img src="../../assets/images/phones/{{product.foto_path}}" alt="...">
          <div class="caption">
            <h3>{{product.titel}}</h3>
            <p>{{product.prijs}},-</p>
            <p><a class="btn btn-primary fw" role="button" (click)="voegToeAanCart(product)">In mijn winkelwagen</a></p>
          </div>
        </div>
      </div>

    </div>
    <hr>
  </div>
</body>

<body *ngIf="view === 'account'">
  <app-account (switchHome)="this.view = 'product'" (logOut)="this.laadWinkelWagen()"></app-account>
</body>

<body *ngIf="view === 'cart'">
  <app-winkelwagen (updateProducten)="updateProductenP()"></app-winkelwagen>
</body>
