<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<div class="row">
  <div class="col wd" *ngIf="type === 'login'">
    <div style="text-align: center;">
      <h1>Login</h1>
    </div>
    <form #postForm="ngForm" (ngSubmit)="onFormSubmit(postForm.value)" class="text-center">
      <label for="title">Email</label>
      <div class="form-group mb3">
        <input type="email" [ngClass]="{'failure': !succes}" class="form-control" id="title" required ngModel name="email" placeholder="Uw email..."/>
      </div>
      <label for="wachtwoord">Wachtwoord</label>
      <div class="form-group mb-3">
        <input type="password" [ngClass]="{'failure': !succes}" class="form-control" id="wachtwoord" required ngModel name="wachtwoord"  placeholder="Uw wachtwoord..."/>
      </div>

      <div class="row clearfix das">
        <div class="col text-right float-right"><button type="submit" class="btn btn-lg btn-block login-active" [disabled]="!postForm.valid">Login</button></div>
      </div>
      <hr>
      <div class="row clearfix das">
        <div class="col-sm-6 no-padding"><button type="button" class="btn btn-light btn-lg" (click)="type = 'passwd'">Wachtwoord vergeten?</button></div>
        <div class="col-sm-6 no-padding "><button type="button" class="btn btn-light btn-lg" style="float: right" (click)="type = 'register'">Registreren</button></div>
      </div>
    </form>
  </div>

  <div class="col wd" *ngIf="type === 'passwd'">
    <app-password-forget (naarLogin)="type = 'login'"></app-password-forget>
  </div>
  <div class="col wd" *ngIf="type === 'register'">
    <app-register (naarLogin)="type = 'login'"></app-register>
  </div>

  <div class="col wd2">
    <img src="assets/images/coolblue.svg" alt="Logo">
  </div>
</div>

