<h1>Wachtwoord vergeten</h1>
<p>Hier kunt u veilig uw nieuwe wachtwoord aanvragen.</p>
<label for="basic-url">E-mail</label>
<div class="input-group mb-3">
  <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
</div>
<div class="row align-items-center">
  <div class="col no-padding"><button type="button" class="btn btn-light" (click)="viewLogin()">Ga terug</button></div>
  <div class="col text-right no-padding"><button type="button" class="btn btn-warning">Wachtwoord aanvragen</button></div>
</div>
