<div class="container box">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
      <table class="table">
        <thead>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th class="text-center">Price</th>
          <th class="text-center">Total</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <!--          NgFor for products in cart -->
        <tr *ngFor="let pr of this.conf.winkelWagen;">
          <td class="col-sm-8 col-md-6">
            <div class="media">
              <a class="thumbnail pull-left"><img class="media-object" src="../../../assets/images/phones/{{pr.fotoPath}}" style="width: 55px; height: 72px;"> </a>
              <div class="media-body" style="padding-left: 20px">
                <h4 class="media-heading"><a style="cursor:pointer;">{{pr.titel}}</a></h4>
                <span>Status: </span><span class="text-success">Op voorraad</span>
              </div>
            </div>
          </td>
          <td class="col-sm-1 col-md-1" style="text-align: center">
            <input type="email" (input)="changeAmount(pr, $event)" class="form-control" id="exampleInputEmail1" value="{{pr.count}}">
          </td>
          <td class="col-sm-1 col-md-1 text-center">€ {{pr.prijs}}</td>
          <td class="col-sm-1 col-md-1 text-center">€ {{pr.prijs * pr.count}}</td>
          <td class="col-sm-1 col-md-1">
            <button type="button" class="btn btn-danger" (click)="removeProduct(pr)">
              <span class="glyphicon glyphicon-remove"></span> Verwijder
            </button>
          </td>
        </tr>

        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td><h5>Subtotaal</h5></td>
          <td class="text-right"><h5>€ {{ TotalAmount }}</h5></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td><h5>Geschatte verzendkosten</h5></td>
          <td class="text-right"><h5>€ 6,75</h5></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td><h3>Totaal</h3></td>
          <td class="text-right"><h3>€ {{ TotalAmount + 6.75}}</h3></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <button type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-shopping-cart"></span> Ga door met winkelen
            </button></td>
          <td>
            <button type="button" class="btn btn-success">
              Bestellen <span class="glyphicon glyphicon-play"></span>
            </button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
